*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
.mono

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Containers
.containers

# Code coverage
TestResults

# Serilog
logs/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/node_modules/
**/dist/
**/dist-ssr/
**/*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sw?